@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundClouds {
  background: url("./components/background.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

@keyframes basicToDetailed {
  from {height: 160px}
  to {height: 332px;}
}

.detailed {
  height: 332px;
  animation-name: basicToDetailed;
  animation-duration: 1.5s;
}

@keyframes DetailedToBasic {
  from {height: 332px}
  to {height: 160px;}
}

.backToBasic {
  height: 160px;
  animation-name: DetailedToBasic;
  animation-duration: 1.5s;
}

@keyframes miniBasicToDetailed {
  from {width: 160px}
  to {width: 332px;}
}

.miniDetailed {
  width: 332px;
  animation-name: miniBasicToDetailed;
  animation-duration: 1s;
}

@keyframes miniDetailedToBasic {
  from {width: 332px}
  to {width: 160px;}
}

.miniBackToBasic {
  width: 160px;
  animation-name: miniDetailedToBasic;
  animation-duration: 1.5s;
}

.capitalize-first {
  text-transform: lowercase;
}
.capitalize-first::first-letter {
  text-transform: uppercase;
}

.selected {
  color: rgb(255 255 255);
  background-color: #1b4de4;
}