@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundClouds {
  background: url("./components/background.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

@keyframes basicToDetailed {
  from {height: 160px}
  to {height: 24rem;}
}

.detailed {
  height: 24rem;
  animation-name: basicToDetailed;
  animation-duration: 1.5s;
}

@keyframes DetailedToBasic {
  from {height: 24rem}
  to {height: 160px;}
}

.backToBasic {
  height: 160px;
  animation-name: DetailedToBasic;
  animation-duration: 1.5s;
}

@keyframes miniBasicToDetailed {
  from {width: 10%}
  to {width: 332px;}
}

.miniDetailed {
  width: 332px;
  animation-name: miniBasicToDetailed;
  animation-duration: 1s;
}

@keyframes miniDetailedToBasic {
  from {width: 332px}
  to {width: 10%;}
}

.miniBackToBasic {
  /* width: 11rem; */
  width: 10%;
  animation-name: miniDetailedToBasic;
  animation-duration: 1.5s;
}

.capitalize-first {
  text-transform: lowercase;
}
.capitalize-first::first-letter {
  text-transform: uppercase;
}

.selected {
  color: rgb(255 255 255);
  background-color: #1b4de4;
}

.white-svg{
  filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(62deg) brightness(102%) contrast(105%);
}

.detailsAppear{
  animation-name: detailsAppear;
  animation-duration: 1.5s;
  left: 109px;
}

@keyframes detailsAppear {
  from {left: 192px}
  to {left: 109px;}
}

.detailsDisappear{
  animation-name: detailsDisappear;
  animation-duration: 1.5s;
}

@keyframes detailsDisappear {
  from {left: 109px}
  to {left: 192px;}
}

.iconMovesLeft{
  animation-name: iconMovesLeft;
  animation-duration: 1.5s;
  left: -85px;

}

@keyframes iconMovesLeft {
  from {left: 0.25rem}
  to {left: -85px}
}

.iconMovesRight{
  animation-name: iconMovesRight;
  animation-duration: 1.5s;
  left: 0.25rem;
  /* position: absolute; */
  /* left: 0.5rem; */
}

@keyframes iconMovesRight {
  from {left: -85px}
  to {left: 0.25rem;}
}

/* .miniCardMargins {
  margin: auto min(4vh, 0.1rem)
} */
.miniDefault {
  width: 95%;
  /* margin-top: 44%; */
}
:root{
  --max-width: 100%;
}
.maxWidth {
  max-width: var(--max-width)
}